* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #1e1e2f;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover {
    background: #f7b731;
    color: black;
}

nav a:active {
    background: #ffcc00;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    background: #2c2c3e;
    color: white;
}

.hero-text h1 {
    font-size: 35px;
}

.hero-text button {
    padding: 10px 20px;
    margin-top: 10px;
    background: #f7b731;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-text button:hover {
    background: #ffcc00;
}

.hero-image img {
    width: 250px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}
